<h1>System Dashboard</h1>

<div class="dashboard">
  <div class="card">
    <h3>System</h3>
    <div>
      <span class="label">System Type: </span> 
      <span class="value">{{ sys?.SystemType }}</span>
    </div>
  </div>

  <div class="card">
    <h3>CPU</h3>

    <div>
      <span class="label">Name: </span> 
        <span class="value">{{ cpu?.Name }}</span><br>
      <span class="label">Cores: </span> 
        <span class="value">{{ cpu?.NumberOfCores }}</span><br>
      <span class="label">Max Clock: </span> 
        <span class="value">{{ cpu?.MaxClockSpeed }} MHz</span>
    </div>

  </div>

  <div class="card">
    <h3>Memory</h3>

    <div>
      <span class="label">Capacity: </span> 
        <span class="value">{{ mem?.TotalVisibleMemorySize }}</span><br>
      <span class="label">Free: </span> 
        <span class="value">{{ mem?.FreePhysicalMemory }}</span>
    </div>

  </div>

  <div class="card">
    <h3>Disk</h3>

    <div>
      <span class="label">Volume Name: </span> 
        <span class="value">{{ disk?.VolumeName }}</span><br>
      <span class="label">Size: </span> 
        <span class="value">{{ disk?.Size }}</span><br>
      <span class="label">Free Space: </span> 
        <span class="value">{{ disk?.FreeSpace }}</span>
    </div>

  </div>
</div>